<!DOCTYPE html>
<html>
<head>
    <title>Image to PDF Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Image to PDF Converter</h1>
    <div id="div-form">
    <form action="/convert" method="post" enctype="multipart/form-data">
        <input type="file" name="images" accept="image/*" multiple>
        <div id="btn-con">
        <button type="submit" id="button">Convert to PDF</button>
    </div>
    </form>
</div>
</body>
</html>
