<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Document</title>
</head>
<body>
    <div id="main">
        <h1>Image to PDF Converter</h1>

        <form action="/convert" method="post" enctype="multipart/form-data">
            <input id="images" type="file" name="images" accept="image/*" multiple>
            <label for="images" id="file-label">
                <div id="lbl">
                    Click to choose Images
                </div>
            </label>
            <div id="btn-con">
                <button type="submit" id="button">Convert to PDF</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

   
